<div class="backend-sidebar">
    <ul class="layui-nav layui-nav-tree" lay-filter="">
        <li class="layui-nav-item <%= title === "用户管理" ? 'layui-this' : ''%>">
            <a href="/admin/userList">
                <i class="layui-icon layui-icon-user"></i>
                <span class="ml-15">用户管理</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "轮播组图" ? 'layui-this' : ''%>">
            <a href="/admin/sliderList">
                <i class="layui-icon layui-icon-carousel"></i>
                <span class="ml-15">轮播组图</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "产品列表" ? 'layui-this' : ''%>">
            <a href="/admin/productList">
                <i class="layui-icon layui-icon-list"></i>
                <span class="ml-15">产品列表</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "产品类型" ? 'layui-this' : ''%>">
            <a href="/admin/productCategoryList">
                <i class="layui-icon layui-icon-note"></i>
                <span class="ml-15">产品类型</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "工程案例" ? 'layui-this' : ''%>">
            <a href="/admin/projectList">
                <i class="layui-icon layui-icon-template"></i>
                <span class="ml-15">工程案例</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "新闻列表" ? 'layui-this' : ''%>">
            <a href="/admin/newsList">
                <i class="layui-icon layui-icon-release"></i>
                <span class="ml-15">新闻列表</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "关于畅球" ? 'layui-this' : ''%>">
            <a href="/admin/company">
                <i class="layui-icon layui-icon-location"></i>
                <span class="ml-15">关于畅球</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "友情链接" ? 'layui-this' : ''%>">
            <a href="/admin/friendLinkList">
                <i class="layui-icon layui-icon-link"></i>
                <span class="ml-15">友情链接</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "访问统计" ? 'layui-this' : ''%>">
            <a href="/admin/viewAnalysis">
                <i class="layui-icon layui-icon-chart"></i>
                <span class="ml-15">访问统计</span>
            </a>
        </li>
        <li class="layui-nav-item <%= title === "个人中心" ? 'layui-this' : ''%>">
            <a href="/admin/userCenter">
                <i class="layui-icon layui-icon-username"></i>
                <span class="ml-15">个人中心</span>
            </a>
        </li>
    </ul>
</div>