<main>
    <!-- Page Banner -->
    <div class="news-page-banner page-banner container-fluid">
        <!-- Container -->
        <div class="container">
            <div class="banner-content">
                <h3>新闻资讯</h3>
                <ol class="breadcrumb">
                    <li><a href="/index" title="首页">首页</a></li>
                    <li class="active">新闻资讯</li>
                </ol>
            </div>
        </div><!-- Container /- -->
    </div><!-- Page Banner /- -->

    <!-- Blog Section -->
    <div class="blog-section container-fluid no-left-padding no-right-padding">
        <!-- Container -->
        <div class="container">
            <!-- Content Area -->
            <div class="content-area col-md-12 col-sm-24 col-xs-24">
                <% news && news.length > 0 && news.forEach(function (newsItem, index) { %>
                <div class="type-post news-wrapper">
                    <div class="entry-cover mt-30 tc">
                        <a title="新闻<%= index+1 %>" href="/newsDetail?newsId=<%= newsItem._id %>" class="tc">
                            <img alt="新闻<%= index+1 %>" src="<%= newsItem.src %>" />
                        </a>
                    </div>
                    <h3 class="entry-title tc"><a title="<%= newsItem.title %>" href="/newsDetail?newsId=<%= newsItem._id %>"><%= newsItem.title %></a></h3>
                    <div class="w100 tc">
                        <div class="post-date" style="padding-right: 0"><a style="text-decoration: none" href="javascript:;" title="日期"><i class="icon icon-Agenda mr-10"></i><%= moment(newsItem.time).format("YYYY-MM-DD") %></a></div>
                    </div>
                    <div class="entry-content">
                        <div class="suojin news-text-over-line mb-20"><%- newsItem.content %></div>
                    </div>
                    <div class="entry-content tc mb-25">
                        <a href="/newsDetail?newsId=<%= newsItem._id %>" title="查看详情" class="read-more">查看详情</a>
                    </div>
                </div>
                <% }) %>
                <nav class="ow-pagination">
                    <ul class="pagination">
                        <% if (pageIndex > 0) { %>
                        <li><a href="/news?pageIndex=0">首页</a></li>
                        <% } %>
                        <% if(pageIndex === 0) { %>
                        <li class="disabled"><a href="javascript:;">上一页</a></li>
                        <% } else { %>
                        <li>
                            <a href="/news?pageIndex=<%= pageIndex - 1 %>">上一页</a>
                        </li>
                        <% } %>
                        <% for(var i = 0; i < totalPage; i++) { %>
                        <% if (i === pageIndex) { %>
                        <li class="active"><a href="/news?pageIndex=<%= i %>"><%= i + 1 %></a></li>
                        <% } else { %>
                        <li><a href="/news?pageIndex=<%= i %>"><%= i + 1 %></a></li>
                        <% } %>
                        <% } %>
                        <% if (pageIndex === totalPage - 1) { %>
                        <li class="disabled"><a href="javascript:;">下一页</a></li>
                        <% } else { %>
                        <li><a href="/news?pageIndex=<%= pageIndex + 1 %>">下一页</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <!-- Content Area /- -->
        </div>
        <!-- Container /- -->
    </div>
    <!-- Blog Section /- -->
</main>