<% include ../includes/backend-head.ejs %>
<body style="overflow-x: hidden;background-color: #eee;">
<% include ../includes/backend-header.ejs %>
<div class="main">
    <% include ../includes/backend-sidebar.ejs %>
    <div class="backend-container">
        <div class="row pb-10" style="margin-right: 0;margin-left: 0">
            <h2 class="w100 tc"><%= news && news._id ? "新闻更新" : "新闻添加" %></h2>
        </div>
        <hr class="layui-bg-blue pt-5">
        <div class="backend-content" style="background-color: #fff">
            <form class="layui-form" style="padding: 0 15px">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" value="<%= news && news._id %>" class="layui-input" id="news_id">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="news_title">新闻标题</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" value="<%= news && news.title %>"
                               placeholder="请输入新闻标题"
                               autocomplete="on" class="layui-input" id="news_title">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="news_src">新闻封面图片</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" value="<%= news && news.src %>"
                               placeholder="请输入封面图片地址"
                               autocomplete="on" class="layui-input" id="news_src">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="news_time">新闻时间</label>
                    <div class="layui-input-block">
                        <input type="text" required lay-verify="required" value="<%= news && news.time %>"
                               placeholder="请输入新闻事件发生的时间" class="layui-input" id="news_time">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" for="news_edit">新闻内容</label>
                    <div class="layui-input-block">
                        <textarea id="news_edit" style="display: none"
                                  class="layui-textarea">
                            <% if (!!news) { %>
                            <%- news.content %>
                            <% } %>
                        </textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="button" id="save_newsContent">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		layui.use('laydate', function () {
			var laydate = layui.laydate;
			laydate.render({
				elem: "#news_time"
			})
		})
		layui.use('layedit', function () {
			var layedit = layui.layedit;
			layedit.set({
				uploadImage: {
					url: '/admin/news/image/upload',  // 富文本图片上传的url
					type: 'post'
				}
			})

			var index = layedit.build('news_edit', {
				height: 400,
			});

			var btn = document.getElementById("save_newsContent");
			btn.onclick = function () {
				var news_title = document.getElementById('news_title').value;
				var news_id = document.getElementById('news_id').value;
				var news_time = document.getElementById('news_time').value;
				var news_src = document.getElementById('news_src').value;
				var news_content = layedit.getContent(index);
				if ((!news_title) || (!news_time) || (!news_content) || (!news_src)) {
					layer.msg("新闻标题、新闻时间或者新闻内容不能为空哦!");
					return;
				}
				if (news_title.trim() && news_time.trim() && news_content.trim() && news_src.trim()) {
					$.ajax({
						type: 'POST',
						url: '/admin/news/add',
						data: {
							newsId: news_id,
							title: news_title,
							time: news_time,
							src: news_src,
							content: news_content
						}
					}).done(function (res) {
						if (res.success === 1) {
							layer.msg("新闻保存成功!")
							location.replace('/admin/newsList')
						}
					})
				}
			}
		});
	})

</script>
</body>