<main>
    <!--产品展示-->
    <div class="gallery-section gallery-section2 container-fluid no-left-padding no-right-padding">
        <!-- Container -->
        <div class="container">
            <!-- Section Header -->
            <div class="section-header">
                <h3>产品展示</h3>
                <img src="https://changqiu.oss-cn-zhangjiakou.aliyuncs.com/img/seprator.png" alt="seprator"/>
            </div><!-- Section Header /- -->
            <ul id="filters" class="portfolio-categories no-left-padding">
                <% productCategorys && productCategorys.length > 0 && productCategorys.forEach(function (productCategory, index) { %>
                <% if (index === 0) { %>
                <li class="active product-category"
                    data-id="<%= productCategory._id %>"><%= productCategory.name %></li>
                <% } else { %>
                <li class="product-category" data-id="<%= productCategory._id %>"><%= productCategory.name %></li>
                <% } %>
                <% }) %>
            </ul>
            <div class="row">
                <ul class="portfolio-list no-left-padding changqiu-products">
                    <% products && products.length > 0 && products.forEach(function (product, index) { %>
                    <li class="col-md-3 col-sm-6 col-xs-6">
                        <div class="content-image-block">
                            <img src="<%= product.imgUrl %>">
                            <div class="content-block-hover">
                                <a class="zoom-in" href="<%= product.imgUrl %>"><i
                                            class="icon icon-Search"></i></a>
                                <a href="/product/detail?productId=<%= product._id %>" title="Link"><i class="icon icon-Linked"></i></a>
                                <h5><%= product.name %></h5>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div><!-- Container /- -->
    </div>
    <!--产品展示结束 /-->
</main>