<% include ../includes/backend-head.ejs %>
<body style="overflow-x: hidden;background-color: #eee;">
<% include ../includes/backend-header.ejs %>
<div class="main">
    <% include ../includes/backend-sidebar.ejs %>
    <div class="backend-container">
        <div class="row pb-10" style="margin-right: 0;margin-left: 0">
            <h2 class="w100 tc">轮播组图列表</h2>
            <a href="/admin/slider/add">
                <button class="layui-btn layui-btn-normal" style="position: absolute; right: 20px; top: 15px">
                    <i class="layui-icon layui-icon-add-circle"></i>
                    <span style="position: relative;top: -2px;">添加轮播图</span>
                </button>
            </a>
        </div>
        <hr class="layui-bg-blue pt-5">
        <div class="backend-content" style="overflow: scroll">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>轮播图名称</th>
                    <th>轮播图地址</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% sliders.forEach(function (slider, index) { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= slider.title %>
                    </td>
                    <td class="text-over" style="max-width: 300px">
                        <a href="<%= slider.src %>" target="_blank" style="color:#469ff8;"><%= slider.src %></a>
                    </td>
                    <td>
                        <a href="/admin/slider/update/<%= slider._id %>">
                            <button class="news-update layui-btn">更新<i class="layui-icon layui-icon-refresh"
                                                                       style="font-size: 14px;margin-left: 4px"></i>
                            </button>
                        </a>
                        <button class="slider-del layui-btn layui-btn-danger"
                                data-id="<%= slider._id %>">删除<i class="layui-icon layui-icon-delete"
                                                                   style="position: relative;top: 1px"></i>
                        </button>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		layer.config({
			title: '提示'
		})

		// 删除软件
		$('.slider-del').bind('click', function () {
			let sliderId = $(this).data("id");
			let tr = $(this).parents("tr");
			if (sliderId) {
				layer.confirm("确定删除该轮播图?删除后将不能恢复", {
					btn: ['确认', '取消'],
					btn1: function (index) {
						$.ajax({
							type: 'DELETE',
							url: '/admin/sliderList/del?sliderId=' + sliderId
						}).done(function (res) {
							if (res.success === 1) {
								tr.remove();
							} else {
								layer.alert("删除失败，请重试！")
							}
							layer.close(index);
						})
					},
					btn2: function (index) {
						layer.close(index)
					}
				})
			}
		})
	})
</script>
</body>