<% include ../includes/backend-head.ejs %>
<body style="overflow-x: hidden;background-color: #eee;">
<% include ../includes/backend-header.ejs %>
<div class="main">
    <% include ../includes/backend-sidebar.ejs %>
    <div class="backend-container">
        <div class="row pb-10" style="margin-right: 0;margin-left: 0">
            <h2 class="w100 tc">用户管理</h2>
        </div>
        <hr class="layui-bg-blue pt-5">
        <div class="backend-content" style="overflow: scroll">
            <table class="layui-table">
                <colgroup>
                    <col width="80">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>权限</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(function (user, index) { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <% if (user.role === 1) { %>
                        <span>普通用户</span>
                        <% } %>
                        <% if (user.role === 4) { %>
                        <span>一般管理员</span>
                        <% } %>
                        <% if (user.role === 7) { %>
                        <span>超级管理员</span>
                        <% } %>
                    </td>
                    <td>
                        <%= moment(user.meta.createAt).format("YYYY-MM-DD") %>
                    </td>
                    <td>
                        <% if (localUser.role === 7) { %>
                        <% if (user._id == localUser._id) { %>
                        <button disabled="disabled" class="user-del layui-btn layui-btn-danger layui-btn-disabled"
                                data-id="<%= user._id %>">删除<i class="layui-icon layui-icon-delete"
                                                               style="position: relative;top: 1px"></i>
                        </button>
                        <% } %>
                        <% if (user._id != localUser._id) { %>
                        <button class="user-del layui-btn layui-btn-danger"
                                data-id="<%= user._id %>">删除<i class="layui-icon layui-icon-delete"
                                                               style="position: relative;top: 1px"></i>
                        </button>
                        <% } %>
                        <button class="change-role layui-btn" data-id="<%= user._id %>" data-role="<%= user.role %>">
                            更改权限
                            <i class="layui-icon layui-icon-edit"></i>
                        </button>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="layui-form" style="height: 250px;display: none" id="select-role">
    <div class="layui-form-item" style="padding: 25px 50px">
        <label class="layui-form-label" for="role">权限选择</label>
        <div class="layui-input-block">
            <select name="role" id="role">
                <option value="1">普通用户</option>
                <option value="4">一般管理员</option>
                <option value="7">超级管理员</option>
            </select>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		layer.config({
			title: '提示'
		})
		$('.user-del').bind('click', function () {
			let userId = $(this).data("id");
			let tr = $(this).parents("tr");
			if (userId) {
				layer.confirm("确定删除该用户?删除后将不能恢复", {
					btn: ['确认', '取消'],
					btn1: function (index) {
						$.ajax({
							type: 'DELETE',
							url: '/admin/userList/del?userId=' + userId
						}).done(function (res) {
							if (res.success === 1) {
								tr.remove();
							} else {
								layer.alert("删除失败，请重试！")
							}
							layer.close(index);
						})
					},
					btn2: function (index) {
						layer.close(index)
					}
				})
			}
		})
		
		// 更改用户权限
		$(".change-role").bind("click", function () {
			var userId = $(this).data("id");
			var role = $(this).data("role");
			$("#role").val(role);
			layui.use('form', function () {
				var form = layui.form;
				form.render("select");
			});
			if (userId) {
				layer.config({
					title: "提示"
				})
				layer.open({
					type: 1,
					content: $("#select-role"),
					btn: ['确认', '取消'],
					btn1: function (index) {
						var selected_role = $("#role").val();
						$.ajax({
							url: "/admin/user/role?userId=" + userId,
							type: "POST",
							data: {
								role: selected_role
							}
						}).done(function (res) {
							if (res.success === 1) {
								location.reload();
							}
							layer.close(index);
						})
					},
					btn2: function (index) {
						layer.close(index);
						$("#select-role").css("display", "none")
					}
				})
			}
		})
	})
</script>
</body>